<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="cardsContainer">
      <h1>Flip Cards</h1>
      {{{yield}}}
    </div>
  </body>
</html>